Build
BuildD3D11
BuildGL
BuildGLDBG
BuildVSD3D11
BuildVSGL
x64
bin/Data
bin/CoreData
bin/Extra
bin/*.png
bin/TEdit
bin/TEdit.exe
bin/tolua++.exe
!bin/TerrainEditorData/*.png
bin/TerrainEditorData/Save
bin/GCData
bin/Save
*.bat
*.sh
*.exe
*.log
*.ps3
*.vs3
*.ps4
*.vs4
*.dll
